* {
  margin: 0;
  padding: 0
}

body {
  padding-top: 24px
}

header {
  text-alignment: center;
}

header h1, header h2 {
  margin: auto;
  color: #0000DD
}

footer {
  margin: 16px;
  text-alignment: center
}

footer h4 {
  margin: auto
}
