* {
  margin: 0;
  padding: 0
}

body {
  padding-top: 24px;
  background: #DFDFDF
}

img {
  border: 4px solid #0F0F0F;
  border-radius: 50%
}

header {
  text-align: center;
}

header h1, header h2 {
  margin: auto;
  color: #0000DD;
  display: inline-block
}

footer {
  margin: 16px;
  text-align: center
}

footer h4 {
  margin: auto;
  display: inline-block
}
