* {
  margin: 0;
  padding: 0
}

body {
  background: #DFDFDF;
  font-family: Futura, Verdana, Arial
}

img {
  margin: 24px auto;
  border: 4px solid #0F0F0F;
  border-radius: 50%
}

hr {
  margin: 8px
}

header {
  text-align: center;
}

header h1, header h2 {
  margin: auto;
  color: #0000DD;
  display: inline-block
}

main {
  width: 80%
}

footer {
  margin: 16px;
  text-align: center
}

footer h4 {
  margin: auto;
  display: inline-block
}
